body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Off white background */
}

.profile-container {
    display: grid;
    background-color: #e6e6fa;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 0px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    


}

.profile-header {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    gap: 10px;
}

.profile-header p {
    font-size: 16px;
    margin: 5px 0;
    color: white;
   
}

.profile-header img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 20px;
    justify-self: center;
    
}

.profile-info {
    display: grid;
    grid-template-rows: repeat(5, auto);
    padding:  10px;
    justify-self: center;
    text-align: center;
}

.profile-stats {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(1fr);
    justify-self: center;
    text-align: center;
    background-color: white;
    
}

.profile-stats p{
    color: gray;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: white;
    
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat p{
    color: grey;
}

.follow-button{
    background-color: #e6e6fa; /* Periwinkle or lilac */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    justify-self: center;
    

}

.follow-button:hover {
    background-color: #8a2be2; /* Darker shade of periwinkle or lilac */
}
